.menu-overflow {
    @media screen and (max-width:767px) {
        & {
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            overflow: auto;
            transition: opacity .3s ease-in-out;

            &.overlay {
                visibility: visible;
                opacity: 1;
            }

        }
    }

    overflow: visible;
    z-index: auto;
}